.vue-flow__panel {
  background-color: #2d3748;
  color: white;
  border-radius: 8px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.vue-flow__panel .field {
  display: flex;
  gap: 8px;
  align-items: center;
}

.vue-flow__panel label {
  display: blocK;
}

.vue-flow__panel input {
  padding: 2px;
  border-radius: 5px;
}
