.vue-flow__node.dark {
  background: #000000;
  color: #ffffff;
}

.vue-flow__example-multiflows {
  display: flex;
  height: 100%;
}

.vue-flow__example-multiflows .vue-flow {
  width: 100%;
  height: 100%;
}

.vue-flow__example-multiflows .vue-flow:first-child {
  border-right: 2px solid #333;
}
