.basicflow .vue-flow__node.dark {
  background: #1C1C1C;
  color: #FFFFFB;
}

.basicflow .controls {
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 4;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}

.basicflow .controls button {
  padding: 5px;
  border-radius: 5px;
  font-weight: 500;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.basicflow .controls button:hover {
  opacity: 0.8;
  transform: scale(105%);
  transition: 250ms all ease;
}
